<link rel="stylesheet" href="/css/views/simpleForm.css">
<form id="batch-revert-form" method="post">
    <div class="form-block">
        <label for="uuidInput">UUID</label>
        <input type="text" id="uuidInput" name="uuid">
    </div>
    <div class="form-block">
        <label for="durationInput">Duration</label>
        <input type="text" id="durationInput" name="duration" value="24h">
    </div>
    <div class="form-block">
        <label for="reasonInput">Reason</label>
        <input type="text" id="reasonInput" name="reason">
    </div>
    <div class="form-block">
        <label>
            <input type="checkbox" name="closeEditRequests" value="Y">
            편집 요청 닫기
        </label>
    </div>
    <div class="form-block">
        <label>
            <input type="checkbox" name="hideThreadComments" value="Y">
            토론 댓글 숨기기
        </label>
    </div>
    <div class="form-block">
        <label>
            <input type="checkbox" name="revertContributions" value="Y">
            편집 되돌리기
        </label>
    </div>
    <%if(req.permissions.includes('developer')) {%>
        <div class="form-block">
            <label>
                <input type="checkbox" name="hidelog" value="Y">
                hidelog
            </label>
        </div>
    <%}%>
    <div class="button-block">
        <button class="thetree-square-button thetree-blue-button">실행</button>
    </div>
    <%if(req.flash.batchRevertResult) {%>
        <div>
            <p>작업 결과</p>
            <ul>
                <%for(let text of req.flash.batchRevertResult.resultText) {%>
                    <li><%=text%></li>
                <%}%>
            </ul>

            <%if(req.flash.batchRevertResult.failResultText.length) {%>
                <p>실패 작업 목록</p>
                <ul style="color: red;">
                    <%for(let text of req.flash.batchRevertResult.failResultText) {%>
                        <li><%-text%></li>
                    <%}%>
                </ul>
            <%}%>

            <div>
                <a class="thetree-square-button" href="/admin/batch_revert">확인</a>
            </div>
        </div>
    <%}%>
</form>