PORT=3000
TRUST_PROXY=false
SESSION_SECRET=secret

MONGODB_HOST=127.0.0.1
MONGODB_PORT=27017
MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_DATABASE=TheTree

USE_REDIS=false
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=