/.idea/
/node_modules/
/customStatic/
/publicMin/
/cache/
/opennamu_data/
/skins/*
/plugins/*
/frontend/
/config/
/utils/namumark/*.json

.env

publicConfig.json
serverConfig.json
stringConfig.json
devConfig.json

.DS_Store