<div class="thetree-alert thetree-alert-danger thetree-error-alert"<%-(typeof alert === 'undefined' || !alert) ? ' style="display:none"' : ''%>>
    <div class="thetree-alert-content">
        <strong>[오류!]</strong>&nbsp; <span class="thetree-alert-content-text"><%-typeof alert !== 'undefined' ? alert : ''%></span>
    </div>
</div>