<div class="thetree-alert thetree-alert-danger thetree-error-alert"<%=(typeof alert === 'undefined' || !alert) ? ' hidden' : ''%>>
    <div class="thetree-alert-content">
        <strong>[오류!]</strong>&nbsp; <span class="thetree-alert-content-text"><%-alert%></span>
    </div>
</div>