<style>
    @import "/css/views/change_password.css";
</style>

<%
const fieldErrorExists = typeof fieldErrors !== 'undefined' && fieldErrors.length > 0;

let focusTarget = '';
if(fieldErrorExists) focusTarget = fieldErrors[0].path;

function fieldError(name) {
    if(!fieldErrorExists) return '';

    const error = fieldErrors.find(e => e.path === name);
    if(!error) return '';

    return `<p class="input-error">${error.msg}</p>`;
}
%>

<script src="/js/form_focus.js"></script>

<form method="post" id="change-password-form" data-focus="<%=focusTarget%>">
    <div class="form-block">
        <label for="oldPasswordInput">현재 비밀번호</label>
        <input type="password" id="oldPasswordInput" name="old_password">
        <%-fieldError('old_password')%>
    </div>

    <div class="form-block">
        <label for="passwordInput">새 비밀번호</label>
        <input type="password" id="passwordInput" name="password">
        <%-fieldError('password')%>
    </div>

    <div class="form-block">
        <label for="passwordConfirmInput">새 비밀번호 확인</label>
        <input type="password" id="passwordConfirmInput" name="password_confirm">
        <%-fieldError('password_confirm')%>
    </div>

    <div class="form-button-block">
        <button class="thetree-square-button thetree-blue-button">비밀번호 변경</button>
    </div>
</form>