<style>
    @import "/css/views/mypage.css";
</style>

<form method="post">
    <div class="menu-block">
        <label for="usernameInput">사용자 이름</label>
        <p><%=user.name%></p>
        <a class="thetree-mint-button" href="/member/change_name">이름 변경</a>
    </div>
</form>