<link rel="stylesheet" href="/css/views/recentChanges.css">

<div class="nav-block nav-block-margin">
    <div class="nav-block-child">
        <div class="nav-block-content">
            <ul class="nav-block-content-ul">
                <%for(let [type, name] of Object.entries({
                    all: '전체',
                    create: '새 문서',
                    delete: '삭제',
                    move: '이동',
                    revert: '되돌림'
                })) {%>
                    <li><a class="nav-content<%=logType === type ? ' nav-content-selected' : ''%>" href="?logtype=<%=type%>"><%=name%></a></li>
                <%}%>
            </ul>
        </div>
    </div>
</div>

<%-include('recentChangesList', { revs })%>