<style>
    @import "/css/views/signup.css";
</style>

<form method="post" class="signup-form">
    <div class="signup-block">
        <textarea class="signup-input signup-terms" readonly><%=config.terms%></textarea>
    </div>

    <div class="signup-block">
        <label class="signup-agree-label" name="agree">
            <input type="checkbox" class="signup-agree-input" name="agree" value="Y">
            동의합니다.
        </label>
    </div>

    <div class="signup-block">
        <label for="emailInput">Email</label>
        <input class="signup-input" id="emailInput" name="email">
    </div>

    <%if(config.email_whitelist.length) {%>
        <p>
            이메일 허용 목록이 활성화 되어 있습니다.
            <br>이메일 허용 목록에 존재하는 메일만 사용할 수 있습니다.
        </p>
        <ul>
            <%for(let domain of config.email_whitelist) {%>
                <li><%=domain%></li>
            <%}%>
        </ul>
    <%}%>

    <div class="signup-block signup-button-block">
        <div class="signup-button-block-child">
            <button class="signup-button">가입</button>
        </div>
    </div>
</form>