.theseed-dark-mode .thetree-alert-primary {
    background-color: #05234f;
    border-color: #052e6d;
    color: #c0d2ee
}

.theseed-dark-mode .thetree-alert-danger {
    background-color: #3d050b;
    border-color: #861520;
    color: #eec0c0;
}

.theseed-dark-mode .thetree-square-button {
    background-color: #27292d;
    border-color: #383b40;
    color: #ddd !important;
}

.theseed-dark-mode .thetree-square-button:not([disabled]):hover {
    background-color: #2d2f34;
    border-color: #383b40;
}

.theseed-dark-mode .thetree-blue-button {
    background-color: #1555b5;
    border-color: #052e6d;
}

.theseed-dark-mode .thetree-button {
    background-color: #282829;
    border-color: #484848;
    color: var(--dark-text-color, var(--text-color, #e0e0e0));
}

.theseed-dark-mode .thetree-primary-button {
    background-color: #1555b5;
    border-color: #052e6d;
}