.thetree-alert {
    background-color: #f3f3f3;
    border: 1px solid #d5d5d5;
    border-radius: .25rem;
    column-gap: .75rem;
    display: flex;
    margin-bottom: 1.5rem;
    padding: .5rem .75rem;
}

.thetree-alert-primary {
    background-color: #cee2fd;
    border-color: #7eaaed;
    color: #0b3574
}

.thetree-alert-danger {
    background-color: #f7c6ca;
    border-color: #b42e3b;
    color: #3f0404;
}

.thetree-alert-content {
    flex: 1;
}

.thetree-alert-close {
    background: none;
    border: none;
    color: var(--light-text-color, var(--text-color, #212529));
    display: inline-block;
    height: 1.15rem;
    margin: .05rem 0 0;
    opacity: .7;
    width: 1.15rem;
}

.thetree-alert-close svg {
    height: 100%;
    width: 100%;
    fill: currentColor;
}

a.thetree-square-button, button.thetree-square-button {
    background-color: white;
    border: .0625rem solid #ccc;
    color: #373a3c !important;
    cursor: pointer;
    display: inline-block;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    padding: .2rem .7rem;
    text-align: center;
    text-decoration: none !important;
    touch-action: manipulation;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.thetree-button {
    align-items: center;
    background-color: var(--light-article-background-color, var(--article-background-color, #fff));
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    color: inherit !important;
    cursor: pointer;
    display: inline-flex;
    font-size: .9rem;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: .3rem .75rem;
    text-decoration: none !important;
    transition: background-color .1s ease-in, box-shadow .1s linear;
    white-space: nowrap;
}

.thetree-button:hover {
    background-color: #f2f2f2;
}

.thetree-primary-button {
    background-color: #3f82e6;
    border-color: #7eaaed;
    color: #fff !important;
}

.thetree-primary-button:hover {
    background-color: #4078cd;
}

.thetree-square-button:not([disabled]):hover {
    background-color: #e6e6e6;
    border-color: #adadad;
}

button.thetree-blue-button {
    background-color: #0275d8;
    border-color: #0275d8;
    color: white !important;
}

button.thetree-blue-button:not([disabled]):hover {
    background-color: #025aa5;
    border-color: #01549b;
}

a.thetree-mint-button {
    background-color: #5bc0de !important;
    border-color: #5bc0de !important;
    color: white !important;
}

a.thetree-mint-button:hover, button.thetree-mint-button:hover {
    background-color: #31b0d5 !important;
    border-color: #2aabd2 !important;
}

a.thetree-danger-button, button.thetree-danger-button {
    background-color: #d9534f !important;
    border-color: #d9534f !important;
    color: white !important;
}

a.thetree-danger-button:hover, button.thetree-danger-button:hover {
    background-color: #c9302c !important;
    border-color: #c12e2a !important;
}

[role=button], a, area, button, input, label, select, summary, textarea {
    touch-action: manipulation;
}

textarea {
    border: 1px solid #e1e8ed;
    padding: .5rem;
    width: 100%;
    resize: vertical;
    overflow: auto;
}

label {
    word-break: keep-all;
    display: inline-block;
    margin-bottom: .5rem;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

address, dl, ol, ul {
    margin-bottom: 1rem;
}

dl, ol, ul {
    margin-top: 0;
}

b, strong {
    font-weight: 700;
}

b, h1, h2, h3, h4, h5, h6 {
    font-family: "Noto Sans Korean", "Noto Sans", "Nanum Gothic", "KoPubDotum B", "Malgun Gothic", "맑은 고딕", sans-serif;
}

a {
    background-color: transparent;
    color: #0275d8;
    text-decoration: none;
}

.theseed-dark-mode a {
    color: #e69720;
}