.wiki-content {
    overflow: hidden;
}

.wiki-paragraph {
    margin-bottom: 1rem;
}

.wiki-content strong {
    font-weight: 700;
}

.wiki-content em {
    font-style: italic;
}

.wiki-content code {
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 2px;
}
.wiki-content del {
    color: gray;
}

.wiki-content del:hover {
    text-decoration: none;
}

.wiki-content sup, .wiki-content sub {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

.wiki-content sup {
    top: -.5em;
}

.wiki-content sub {
    bottom: -.25em;
}

.wiki-content .wiki-size-up-1 {
    font-size: 1.2888888889em;
}

.wiki-content .wiki-size-up-2 {
    font-size: 1.3888888889em;
}

.wiki-content .wiki-size-up-3 {
    font-size: 1.4814444444em;
}

.wiki-content .wiki-size-up-4 {
    font-size: 1.574em;
}

.wiki-content .wiki-size-up-5 {
    font-size: 1.6666666667em;
}

.wiki-content .wiki-size-down-1 {
    font-size: .9258888889em;
}

.wiki-content .wiki-size-down-2 {
    font-size: .8333333333em;
}

.wiki-content .wiki-size-down-3 {
    font-size: .7406666667em;
}

.wiki-content .wiki-size-down-4 {
    font-size: .6481111111em;
}

.wiki-content .wiki-size-down-5 {
    font-size: .6222222222em;
}

.wiki-content pre {
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 3px;
    overflow-x: auto;
    padding: 7px;
}

.wiki-content pre code {
    background: none;
    border: none;
    padding: 0;
}

.wiki-content a {
    background-color: transparent;
    color: #0275d8;
    text-decoration: none;
}

.theseed-dark-mode .wiki-content a {
    color: #e69720;
}

.wiki-content .not-exist {
    color: red;
}

.theseed-dark-mode .wiki-content .not-exist {
    color: #dc4343 !important;
}

.wiki-content .wiki-image-align,
.wiki-content .wiki-image-align-bottom,
.wiki-content .wiki-image-align-center,
.wiki-content .wiki-image-align-left,
.wiki-content .wiki-image-align-middle,
.wiki-content .wiki-image-align-normal,
.wiki-content .wiki-image-align-right,
.wiki-content .wiki-image-align-top {
    display: inline-block;
    font-size: 0;
    max-width: 100%;
    vertical-align: middle;
}

.wiki-content .wiki-image-align-bottom {
    vertical-align: bottom;
}

.wiki-content .wiki-image-align-center {
    display: block;
    text-align: center;
}

.wiki-content .wiki-image-align-left {
    float: left;
}

.wiki-content .wiki-image-align-middle {
    display: block;
    text-align: center;
}

.wiki-content .wiki-image-align-right {
    float: right;
}

.wiki-content .wiki-image-align-top {
    vertical-align: top;
}

.wiki-content .wiki-image-wrapper {
    display: inline-block;
    font-size: 0;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

.wiki-content img {
    display: inline-block;
    max-width: 100%;
}

.wiki-content .wiki-image {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.wiki-content .wiki-image-info {
    background: none;
    border: none;
    color: #ec9f19;
    display: none;
    font-size: 1.1rem;
    outline: none;
    position: absolute;
    right: 6px;
    top: 0;
}

.wiki-content .wiki-image-info:before {
    content: "";
    display: inline-block;
    font-family: "Ionicons" !important;
}

.wiki-content .wiki-image-info:hover:before {
    content: "";
}

.wiki-content .wiki-image-wrapper:hover .wiki-image-info {
    display: block;
}

.wiki-content .wiki-theme-dark {
    display: none;
}

.theseed-dark-mode .wiki-content .wiki-theme-dark {
    display: inline-block;
}

.theseed-dark-mode .wiki-content .wiki-theme-light {
    display: none;
}

.wiki-content .wiki-self-link {
    font-weight: 700;
}

.wiki-content .wiki-link-external {
    color: #090 !important;
}

.wiki-content .wiki-link-external:before {
    background: green;
    color: #fff;
    content: "";
    font-family: "Ionicons" !important;
    padding: 0 .15em;
}

.wiki-content .wiki-media {
    display: block;
    max-width: 100%;
}

.wiki-content .wiki-heading {
    cursor: pointer;
}

.wiki-content h1.wiki-heading {
    font-size: 2em;
}

.wiki-content h2.wiki-heading {
    font-size: 1.8em;
}

.wiki-content h3.wiki-heading {
    font-size: 1.6em;
}

.wiki-content h4.wiki-heading {
    font-size: 1.4em;
}

.wiki-content h5.wiki-heading {
    font-size: 1.2em;
}

.wiki-content h6.wiki-heading {
    font-size: 1em;
}

.wiki-content h1.wiki-heading,
.wiki-content h2.wiki-heading,
.wiki-content h3.wiki-heading,
.wiki-content h4.wiki-heading,
.wiki-content h5.wiki-heading,
.wiki-content h6.wiki-heading {
    border-bottom: 1px solid #ccc;
    margin: 1.2em 0 .8em;
    padding-bottom: 5px;
}

.wiki-content .wiki-heading:before {
    color: #666;
    content: "";
    float: left;
    font-family: "Ionicons";
    font-size: .8em;
    font-weight: 400;
    line-height: 1.8em;
    margin: 0 .5rem 0 .2rem;
    text-align: center;
    width: .9em;
}

.wiki-content .wiki-heading.wiki-heading-folded {
    opacity: .5;
}

.wiki-content .wiki-heading.wiki-heading-folded:before {
    content: "";
}

.wiki-content .wiki-heading-content.wiki-heading-content-folded {
    display: none;
}

.wiki-content .wiki-edit-section {
    float: right;
    font-size: .8rem;
}