<link rel="stylesheet" href="/css/views/simpleForm.css">
<%-include('../components/alert')%>

<form method="post">
    <div class="form-block">
        <label for="passwordInput">비밀번호</label>
        <input type="password" id="passwordInput" name="password">
    </div>
    <div class="form-block">
        <label>현재 이름</label>
        <p><%=req.user.name%></p>
    </div>
    <div class="form-block">
        <label for="nameInput">새 이름</label>
        <input type="text" id="nameInput" name="name">
        <p>30일마다 변경할 수 있습니다.</p>
    </div>
    <div class="button-block">
        <button class="thetree-square-button thetree-blue-button">이름 변경</button>
    </div>
</form>