<link rel="stylesheet" href="/css/views/change_password.css">

<form method="post" id="change-password-form">
    <div class="form-block">
        <label for="oldPasswordInput">현재 비밀번호</label>
        <input type="password" id="oldPasswordInput" name="old_password">
    </div>

    <div class="form-block">
        <label for="passwordInput">새 비밀번호</label>
        <input type="password" id="passwordInput" name="password">
    </div>

    <div class="form-block">
        <label for="passwordConfirmInput">새 비밀번호 확인</label>
        <input type="password" id="passwordConfirmInput" name="password_confirm">
    </div>

    <div class="form-button-block">
        <button class="thetree-square-button thetree-blue-button">비밀번호 변경</button>
    </div>
</form>