<link rel="stylesheet" href="/css/views/centerForm.css">
<link rel="stylesheet" href="/css/views/simpleForm.css">
<form method="post">
    <div class="form-block">
        <label for="pinInput">PIN</label>
        <input type="text" id="pinInput" name="pin" maxlength="6">
    </div>
    <div class="button-block">
        <button class="thetree-square-button thetree-danger-button">비활성화</button>
    </div>
</form>