<link rel="stylesheet" href="/css/views/login.css">
<%-include('../components/alert')%>

<form method="post" id="member-form">
    <div class="login-block">
        <label for="emailInput">Email</label>
        <input class="login-input" id="emailInput" name="email">
    </div>

    <div class="login-block">
        <label for="passwordInput">Password</label>
        <input class="login-input" value="" type="password" id="passwordInput" name="password">
    </div>

    <div class="login-block login-recover-password-block">
        <a href="/member/recover_password" class="recover-password">비밀번호를 잊으셨나요?</a>
    </div>

    <div class="login-block login-bottom-block">
        <label class="autologin-label">
            <input type="checkbox" class="autologin-input" name="autologin" value="Y">
            자동 로그인
        </label>

        <div class="login-button-block">
            <a href="/member/signup" role="button" class="thetree-button">계정 만들기</a>
            <button class="thetree-button thetree-primary-button">로그인</button>
        </div>
    </div>

    <input type="hidden" name="redirect" value="<%=req.query.redirect%>">
</form>