<link rel="stylesheet" href="/css/views/centerForm.css">
<link rel="stylesheet" href="/css/views/simpleForm.css">
<form method="post" data-captcha="1">
    <%-include('../components/alert')%>
    <div class="form-block">
        <label for="emailInput">이메일</label>
        <input type="email" id="emailInput" name="email">
    </div>
    <div class="button-block-nomargin">
        <button class="thetree-square-button thetree-blue-button">찾기</button>
    </div>
</form>