<link rel="stylesheet" href="/css/views/signup.css">
<%-include('../components/alert')%>

<form method="post" id="member-form" data-captcha="1">
    <div class="signup-block">
        <textarea class="signup-input signup-terms" readonly><%=config.terms%></textarea>
    </div>

    <div class="signup-block">
        <label class="signup-agree-label" name="agree">
            <input type="checkbox" class="signup-agree-input" name="agree" value="Y">
            동의합니다.
        </label>
    </div>


    <div class="signup-block">
        <label for="emailInput">Email</label>
        <input class="signup-input" id="emailInput" name="email">
    </div>

    <%-include('../components/emailWhitelist')%>

    <div class="signup-block signup-button-block">
        <div class="signup-button-block-child">
            <button class="thetree-button thetree-blue-button signup-button">가입</button>
        </div>
    </div>
</form>