@scope (#content-style) {
    .title {
        color: inherit;
        font-family: inherit;
        font-size: 1.4em;
        font-weight: 700;
        line-height: 1.1;
        margin: 1.2em 0 .8em;
    }

    .acl-table {
        background-color: transparent;
        border-collapse: collapse;
        border-spacing: 0;
        margin-bottom: 1rem;
        white-space: nowrap;
    }

    .table-elements {
        max-width: 100%;
        width: 100%;
    }

    .table-block {
        overflow-x: auto;
    }

    table td, table th {
        border-top: 1px solid #eceeef;
        line-height: 1.5;
        padding: .5rem .7rem !important;
    }

    table th {
        border-bottom: 2px solid #eceeef;
        text-align: left;
        vertical-align: bottom;
    }

    tr[data-editable] td {
        cursor: move;
    }

    table td[colspan] {
        cursor: auto;
        text-align: center;
    }

    table tr:last-of-type td {
        border-bottom: 1px solid #eceeef;
    }

    div.acl-form-group, label {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
}