@scope (#content-style) {
    ul {
        border-bottom: 1px solid #ddd;
        height: 36px;
        list-style: none;
        margin-bottom: 0;
        margin-top: 0;
        padding-left: 0;
    }

    ul:before, ul:after {
        content: " ";
        display: table;
    }

    li {
        float: left;
        margin-bottom: -1px;
    }

    li>a, li>button {
        border: 1px solid;
        border-color: #ddd #ddd transparent;
        border-radius: .25rem .25rem 0 0;
        display: block;
        padding: .5em 1em;
    }

    li>a, li>a>button, li>button {
        background: none;
        cursor: pointer;
        font-size: .9rem;
    }

    li>a:hover {
        text-decoration: none !important;
    }

    li>a.selected-group, li>button.selected-group {
        background-color: #fff;
        color: #55595c;
    }

    li>a>button {
        border: none;
        display: inline-block;
    }

    li+li {
        margin-left: .2rem;
    }

    .form-block, label {
        margin-bottom: 15px;
        vertical-align: middle;
    }

    input, select {
        background-color: #fff;
        background-image: none;
        border: .0625rem solid #ccc;
        border-radius: 0;
        color: #55595c;
        display: inline-block;
        font-size: .9rem;
        line-height: 1.5;
        margin: 0 0 0 .7rem;
        padding: .25rem .5rem;
    }

    .theseed-dark-mode input, .theseed-dark-mode select {
        background-color: #27292d;
        border-color: #383b40;
        color: #ddd;
    }

    #add-aclgroup-item-form input[type=text] {
        width: 50%;
    }

    #add-aclgroup-item-form {
        border-bottom: 1px solid #ccc;
        clear: both;
        margin-bottom: 1rem;
        margin-top: 1em;
        padding-bottom: 1rem;
    }

    #aclgroup-go-form {
        float: right;
    }

    table {
        background-color: transparent;
        border-collapse: collapse;
        border-spacing: 0;
        margin-bottom: 1rem;
        max-width: 100%;
        width: 100%;
    }

    table th, table td {
        border-top: 1px solid #eceeef;
        line-height: 1.5;
        padding: .5rem .7rem;
    }

    table th {
        border-bottom: 2px solid #eceeef;
        text-align: left;
        vertical-align: bottom;
    }

    table tr:last-of-type td {
        border-bottom: 1px solid #eceeef;
    }
}