@scope(.content-style) {
    form {
        align-items: center;
        display: flex;
        gap: .5rem;
        border: 1px solid #d5d5d5;
        border-radius: 6px;
        padding: .75rem 1rem;
    }

    .search-type {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: var(--light-article-background-color, var(--article-background-color, #fff));
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 512 512%27%3E%3Cpath fill=%27%23d5d5d5%27 d=%27M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z%27/%3E%3C/svg%3E");
        background-position: right .5rem center;
        background-repeat: no-repeat;
        background-size: 1rem .75rem;
        border: 1px solid #d5d5d5;
        border-radius: 4px;
        display: block;
        font-size: .9rem;
        line-height: 1.5;
        padding: .3rem 2rem .3rem .75rem;
    }

    .search-input {
        appearance: none;
        background-color: var(--light-article-background-color, var(--article-background-color, #fff));
        border: 1px solid #d5d5d5;
        border-radius: 4px;
        display: block;
        font-size: .9rem;
        line-height: 1.5;
        padding: .3rem .75rem;
        width: 20rem;
    }

    .search-buttons-block {
        display: flex;
        gap: .5rem;
    }

    .buttons-block {
        display: flex;
        gap: .5rem;
    }

    @media screen and (max-width: 727.98px) {
        form {
            flex-direction: column;
        }

        form>* {
            width: 100%;
        }

        .search-input {
            width: 100%;
        }

        .thetree-primary-button {
            flex: 1;
        }
    }

    @media screen and (max-width: 1023.98px) {
        form {
            width: 100%;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        border-top: 1px solid #e0e0e0;
        display: flex;
        gap: 1rem;
        margin: 0 0 .6rem;
        padding: .6rem .75rem 0;
    }

    li:last-child {
        border-bottom: 1px solid #e0e0e0;
        margin: 0;
        padding-bottom: .6rem;
    }

    .item-block {
        display: flex;
        flex-direction: column;
        line-height: 1.25;
        row-gap: .25rem;
    }

    .icon {
        display: flex;
        height: 1.25rem;
        width: 1.25rem;
    }

    .icon-gray {
        color: #8b8d98;
    }

    .icon-orange {
        color: #f76b15;
    }

    .icon-green {
        color: #46a758;
    }

    .icon-blue {
        color: #2056b4;
    }

    .icon-purple {
        color: #8e4ec6;
    }

    .icon svg {
        fill: currentColor;
    }

    .content-block {
        flex: 1;
    }

    .content-block .bold {
        font-weight: 700;
    }

    .content-block .gray {
        color: #777;
    }

    .log-content {
        color: #777;
        font-size: .9rem;
    }
}