@scope (#content-style) {
    form div.form-block {
        margin-bottom: 15px;
    }

    @media screen and (min-width: 34rem) {
        form label {
            display: block;
        }
    }

    form label {
        margin-bottom: .5rem;
    }

    form input,form select {
        background-color: #fff;
        background-image: none;
        border: .0625rem solid #ccc;
        border-radius: 0;
        color: #55595c;
        display: inline-block;
        font-size: .9rem;
        line-height: 1.5;
        margin: 0 0 0 .7rem;
        padding: .25rem .5rem;
        width: calc(100% - .7rem);
    }

    form div.form-button-block {
        margin-top: 2rem;
        text-align: right;
    }

    .theseed-dark-mode form input,.theseed-dark-mode form select {
        background-color: #27292d;
        border-color: #383b40;
        color: #ddd;
    }
}