@scope(.content-style) {
    h3 {
        color: inherit;
        font-family: inherit;
        font-size: 1.6em;
        font-weight: 700;
        line-height: 1.1;
        margin: 1.2em 0 .8em;
    }

    ul {
        margin: .4em 0 .4em 1.5em;
        padding-left: .5rem;
    }

    ul li {
        list-style: inherit !important;
        margin: .4em 0;
    }

    p {
        margin-bottom: 1rem;
        margin-top: 0;
    }

    label:not(.wiki-content *) {
        display: inline-block;
        margin-bottom: .2rem;
    }

    input:not(.wiki-content *), textarea {
        background-color: #fff;
        background-image: none;
        border: .0625rem solid #ccc;
        border-radius: 0;
        color: #55595c;
        display: block;
        line-height: 1.5;
        font: inherit;
        padding: .25rem .5rem;
        width: 100%;
    }

    .thetree-dark-mode input:not(.wiki-content *), .thetree-dark-mode textarea {
        background-color: #27292d;
        border-color: #383b40;
        color: #ddd;
    }

    input:not(.wiki-content *) {
        margin: 5px 0 10px;
    }

    textarea {
        margin: 0;
        resize: vertical;
    }

    button:not(.thetree-danger-button):not(.wiki-content *) {
        float: right;
        width: 8rem;
    }

    div.comment-preview-block >div {
        padding-left: 25px;
        width: 75%;
    }

    a.thread-more {
        background: #f4f4f4;
        border: 1px solid gray;
        display: block;
        font-weight: 700;
        margin-bottom: 25px;
        margin-left: 40px;
        padding: 5px;
        text-align: center;
        width: 80px;
    }

    a.thread-more:hover {
        background: #bac6f2;
    }

    .thetree-dark-mode a.thread-more {
        background-color: #325a56;
        color: #ddd;
    }

    .thetree-dark-mode a.thread-more:hover {
        background-color: #438a83;
    }

    h3:last-of-type {
        border-top: 2px dashed gray;
        margin: .2em 0 .8em;
        padding-top: 1.5em;
    }

    div.form-block {
        margin-bottom: 15px;
    }

    @media screen and (max-width: 700px) {
        div.comment-preview-block >div {
            width: 100%;
        }
    }
}