@scope(.content-style) {
    ul.edit-request-ul {
        border-bottom: 1px solid #ddd;
        height: 36px;
        list-style: none;
        margin-bottom: 0;
        margin-top: 0;
        padding-left: 0;
    }

    .theseed-dark-mode ul.edit-request-ul,
    .theseed-dark-mode div.action-block {
        border-color: #383b40;
    }

    ul.edit-request-ul:before, ul.edit-request-ul:after {
        content: " ";
        display: table;
    }

    li.edit-request-li {
        float: left;
        margin-bottom: -1px;
    }

    li.edit-request-li button {
        background: none;
        border: 1px solid transparent;
        border-radius: .25rem .25rem 0 0;
        cursor: pointer;
        display: block;
        font-size: .9rem;
        padding: .5em 1em;
    }

    .theseed-dark-mode li.edit-request-li button {
        background-color: #27292d;
        border-color: #383b40;
        color: #ddd;
    }

    li.edit-request-li button.selected-tab {
        background-color: #fff;
        border-color: #ddd #ddd transparent;
        color: #55595c;
    }

    .theseed-dark-mode li.edit-request-li button.selected-tab {
        background-color: #383b40;
    }

    div.tabs {
        border: 1px solid #ddd;
        border-top: none;
        margin-bottom: 1em;
    }

    .theseed-dark-mode div.tabs {
        border-color: #383b40;
    }

    div.tabs:before {
        clear: both;
        content: "";
        display: table;
    }

    div.tabs>div {
        display: none;
    }

    div.tabs>div.selected-tab-content {
        display: block;
    }

    div.tabs>div.preview-tab {
        padding: 20px;
    }

    #preview-tab-content {
        height: 30rem;
        overflow: auto;
        padding: 10px;
    }

    .preview-tab-loading {
        background-color: #ccc;
        text-align: center;
    }

    h3 {
        color: inherit;
        font-family: inherit;
        font-size: 1.75rem;
        line-height: 1.1;
        margin-bottom: .5rem;
        margin-top: 0;
    }

    hr {
        border: 0;
        border-top: .0625rem solid #ccc;
        height: 0;
        margin: .5em 0;
    }

    div.block {
        margin-bottom: 15px;
    }

    label {
        display: inline-block;
        font-weight: 700;
        margin-bottom: .5rem;
    }

    div.action-block {
        border: .0625rem solid #e5e5e5;
        border-radius: .25rem;
        margin-bottom: .75rem;
        position: relative;
    }

    div.action-block>div {
        padding: 1.25rem;
    }

    div.action-block>div>h4 {
        color: inherit;
        font-family: inherit;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.1;
        margin-bottom: .75rem;
        margin-top: 0;
    }

    div.action-block>div>p {
        margin-bottom: 1rem;
        margin-top: 0;
    }

    div.buttons-block {
        column-gap: .25rem;
        display: flex;
    }

    a.action-button, button.action-button {
        padding: .75rem 1.25rem;
    }

    button.accept-button {
        background-color: #5cb85c;
        border-color: #5cb85c;
        color: #fff !important;
    }

    button.accept-button:not([disabled]):hover {
        background-color: #449d44 !important;
        border-color: #419641 !important;
    }

    a.edit-button, button.edit-button {
        background-color: #5bc0de;
        border-color: #5bc0de;
        color: #fff !important;
    }

    a.edit-button:not([disabled]):hover {
        background-color: #31b0d5 !important;
        border-color: #2aabd2 !important;
    }

    #button-tooltip {
        left: 0;
        outline: none;
        top: 0;
        z-index: 10000;
        opacity: 1;
        transition: opacity .15s, visibility .15s;
        visibility: visible;
        position: absolute;
    }

    #button-tooltip-arrow {
        height: 10px;
        position: absolute;
        width: 10px;
    }

    #button-tooltip-arrow>.arrow-outer,
    #button-tooltip-arrow>.arrow-inner {
        border-style: solid;
        height: 0;
        left: 0;
        position: absolute;
        top: 0;
        width: 0;
    }

    #button-tooltip-arrow>.arrow-outer {
        border-width: 6px;
        border-color: rgba(0, 0, 0, .8);
        left: -1px;
    }

    #button-tooltip-arrow>.arrow-inner {
        border-width: 7px;
        visibility: hidden;
        left: -2px;
    }

    #button-tooltip[x-placement^=top] #button-tooltip-arrow>.arrow-outer,
    #button-tooltip[x-placement^=top] #button-tooltip-arrow>.arrow-inner {
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        border-bottom-color: transparent !important;
        border-bottom-width: 0;
    }

    #button-tooltip[x-placement^=bottom] #button-tooltip-arrow>.arrow-outer,
    #button-tooltip[x-placement^=bottom] #button-tooltip-arrow>.arrow-inner {
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        border-top-color: transparent !important;
        border-top-width: 0;
    }

    #button-tooltip[x-placement^=bottom] #button-tooltip-arrow {
        top: 0;
    }

    #button-tooltip[x-placement^=top] .arrow-inner {
        top: -2px;
    }

    #button-tooltip[x-placement^=bottom] .arrow-inner {
        top: -4px;
    }

    #button-tooltip[x-placement^=bottom] .arrow-outer {
        top: -6px;
    }

    #button-tooltip-content {
        box-sizing: border-box;
        overflow-y: auto;
        position: relative;
        background: rgba(0, 0, 0, .8);
        border-radius: 6px;
        color: #fff;
        padding: 7px 12px 6px;
    }

    #button-tooltip-content>div {
        max-height: inherit;
        max-width: inherit;
        position: relative;
        z-index: 1;
    }

    #editrequest-close-modal form h4 {
        font-weight: 600;
        margin: 0;
        padding: 0;
    }

    #editrequest-close-modal form div p {
        margin-bottom: 0;
    }

    #editrequest-close-modal form input[type=text] {
        margin: 0;
        width: 100%;
    }

    span.history-action {
        font-size: 8pt;
    }
}