@scope (.history-style) {
    .navigation-group {
        align-items: center;
        display: flex;
        gap: 1rem;
        margin: 1rem 0;
    }

    .navigation-rev {
        position: relative;
    }

    .navigation-rev-input {
        background-color: var(--light-article-background-color, var(--article-background-color, #fff));
        border: 1px solid #d5d5d5;
        border-radius: 4px;
        display: block;
        font-size: .9rem;
        line-height: 1.5;
        padding: .3rem .75rem .3rem 1.25rem;
        text-align: right;
        width: 4.5rem;
        appearance: textfield;
    }

    .theseed-dark-mode .navigation-rev-input {
        background-color: #282829;
        border-color: #484848;
    }

    .navigation-rev-placeholder {
        color: #888;
        left: .75rem;
        position: absolute;
        top: .3rem;
        z-index: 201;
    }

    .theseed-dark-mode .navigation-rev-placeholder {
        color: var(--text-color, hsla(0, 0%, 88%, .749));
    }

    ul {
        margin: .4em 0 .4em 1.5em;
        padding-left: .5rem;
    }

    ul>li {
        font-size: .9rem;
        list-style: inherit !important;
        margin: .4em 0;
    }

    .troll {
        font-size: 7pt;
    }

    .history-action {
        font-size: 8pt;
    }

    .rev-text {
        color: inherit !important;
    }
}