@scope (#content-style) {
    form {
        margin: 0 auto;
        max-width: 28rem;
    }

    .login-block {
        align-items: stretch;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        margin-bottom: 1rem;
    }

    .login-recover-password-block {
        align-items: flex-start;
    }

    .login-bottom-block {
        align-items: center;
        flex-direction: row;
        gap: 1rem;
        justify-content: space-between;
        padding-top: .5rem;
    }

    .login-button-block {
        align-items: center;
        column-gap: .5rem;
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: flex-end;
    }

    .thetree-button {
        min-width: 4rem;
    }

    .login-input {
        appearance: none;
        background-color: var(--light-article-background-color, var(--article-background-color, #fff));
        border: 1px solid #d5d5d5;
        border-radius: 4px;
        display: block;
        font-size: .9rem;
        line-height: 1.5;
        padding: .3rem .75rem;
    }

    .login-input:focus-visible {
        --focus-outline-color: var(--brand-bright-color-2, #e3e3e3);
        box-shadow: var(--focus-outline-color) 0 0 0 .2rem;
        transition: box-shadow .1s linear;
    }

    .theseed-dark-mode .login-input {
        background-color: #282829;
        border-color: #484848;
    }

    .recover-password {
        border-radius: 2px;
    }

    .autologin-label {
        align-items: center;
        display: inline-flex;
    }

    .autologin-input {
        appearance: none;
        background-color: var(--light-article-background-color, var(--article-background-color, #fff));
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 65%;
        border: 1px solid #d5d5d5;
        border-radius: 4px;
        height: 1.15em;
        margin: 0 .5em 0 0;
        transition: background-color .1s ease-in;
        width: 1.15em;
    }

    .autologin-input:checked {
        background-color: var(--brand-color-1, #bcbcbc);
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 448 512%27%3E%3Cpath d=%27M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7l233.4-233.3c12.5-12.5 32.8-12.5 45.3 0z%27 style=%27fill:%23fff%27/%3E%3C/svg%3E")
    }

    .theseed-dark-mode .autologin-input {
        background-color: #282829;
        border-color: #484848;
    }

    .input-error {
        color: red;
        margin: 0;
    }
}