@scope(#content-style) {
    input, textarea {
        border: .0625rem solid #ccc;
        border-radius: 0;
        color: #55595c;
        font-family: inherit;
        font-size: .9rem;
        line-height: 1.5;
        margin: 0;
        padding: .25rem .5rem;
        width: 100%;
    }

    textarea {
        height: 600px;
        overflow: auto;
    }

    textarea[readonly] {
        background-color: #eceeef;
        opacity: 1;
    }

    .theseed-dark-mode textarea {
        background-color: #000;
        color: #ddd;
    }

    .log-block {
        margin-bottom: 15px;
    }

    form label {
        display: inline-block;
        margin-bottom: .5rem;
    }

    form input[type=text] {
        background-color: #fff;
        background-image: none;
        border: .0625rem solid #ccc;
        border-radius: 0;
        color: #55595c;
        padding: .25rem .5rem;
        width: 100%;
    }

    .button-block {
        float: right;
    }
}