@scope(.content-style) {
    form {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    input {
        min-width: 20rem;
    }

    select {
        min-width: 5rem;
    }

    input, select {
        background-color: #fff;
        background-image: none;
        border: .0625rem solid #ccc;
        border-radius: 0;
        color: #55595c;
        font-size: .9rem;
        line-height: 1.5;
        margin: 0;
        padding: .25rem .5rem;
    }

    .clear {
        clear: both;
    }

    .alert-text-block {
        float: left;
        line-height: 2.1rem;
    }

    .alert-button-block {
        float: right;
    }

    div.search-count {
        padding-bottom: .9rem;
    }

    div.search-count, section>div {
        border-bottom: 1px solid #e5e5e5;
    }

    section>div {
        padding-bottom: 1.1rem;
    }

    section>div>h4 {
        color: inherit;
        font-family: inherit;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.1;
        margin-bottom: .9rem;
        margin-top: 1.3rem;
    }

    section>div>h4>i {
        background-color: #555;
        border-radius: 16px;
        color: #fff;
        margin-right: 4px;
        padding: 0 8px 1px 9px;
        text-align: center;
    }

    section>div>h4>a {
        color: inherit !important;
    }

    section>div>div span.search-highlight {
        background-color: #555;
        border-radius: 4px;
        color: #fff;
        padding: 0 .2em;
    }

    nav {
        float: right;
        margin-top: 1rem;
    }

    nav>ul {
        float: right;
    }

    nav>ul>li {
        display: inline;
    }

    nav>ul>li>a {
        background-color: #fff;
        border: 1px solid #ddd;
        color: #0275d8;
        float: left;
        line-height: 1.5;
        margin-left: -1px;
        padding: .5rem .75rem;
        position: relative;
        text-decoration: none;
    }

    nav>ul>li:first-child>a {
        border-bottom-left-radius: .25rem;
        border-top-left-radius: .25rem;
        margin-left: 0;
    }

    nav>ul>li>a.selected-page {
        font-weight: 700;
    }
}