@scope(.content-style) {
    .list-block {
        display: flex;
        flex-direction: column;
    }

    .list-row {
        border-bottom: 1px solid #e0e0e0;
        display: grid;
        grid-template-columns: 1fr 13rem 3rem;
    }

    .theseed-dark-mode .list-row {
        border-bottom-color: #575757;
    }

    .list-row:hover {
        background-color: #fbfbfb;
    }

    .theseed-dark-mode .list-row:hover {
        background-color: #2a2a2a;
    }

    .list-row-head {
        border-bottom-width: 2px;
        font-weight: 600;
    }

    .list-item {
        padding: .5rem .75rem;
    }

    .list-item:nth-child(3) {
        justify-content: flex-end;
        align-items: center;
        display: flex;
        padding-bottom: 0;
        padding-top: 0;
    }

    .button-icon {
        display: none;
    }

    .thetree-button svg {
        height: .85rem;
        fill: currentColor;
    }

    @media screen and (max-width: 1399.98px) {
        .list-row {
            grid-template-columns: 1fr 12rem 3rem;
        }
    }

    @media screen and (max-width: 1023.98px) {
        .list-row {
            gap: .1rem;
            grid-template-columns: 1fr auto;
            grid-template-rows: auto auto;
            padding: .5rem;
        }

        .list-item {
            margin: 0 !important;
            padding: 0 !important;
        }

        .list-item:first-child {
            font-size: 1.05rem;
            grid-column: 1 / 2;
        }

        .list-item:nth-child(2) {
            color: #888;
            font-size: .85rem;
            grid-column: 1 / 2;
            order: -1;
        }

        .list-item:nth-child(3) {
            grid-column: 2;
            grid-row: 1 / 3;
        }

        .button-icon {
            display: initial;
        }

        .button-text {
            display: none;
        }
    }
}