@scope (#content-style) {
    form.delete-thread-form {
        float: right;
    }

    form.delete-thread-form-thread {
        margin-top: -2rem;
    }

    div.comment-block {
        margin: 0;
        padding-bottom: 20px;
    }

    div.comment-block.comment-block-visible.comment-block-loading {
        animation-direction: alternate;
        animation-duration: .5s;
        animation-iteration-count: infinite;
        animation-name: comment-blink;
        opacity: .25;
    }

    div.comment-block div.comment-block-inner {
        display: inline-block;
        max-width: 100%;
        min-width: 400px;
        word-wrap: break-word;
        background: #d5d5d5;
        border: 1px solid gray;
        border-radius: 4px;
        overflow: hidden;
    }

    .theseed-dark-mode div.comment-block div.comment-block-inner {
        background-color: #2d2f34;
        border-color: #383b40;
    }

    @media screen and (max-width: 700px) {
        div.comment-block {
            padding-left: 0;
        }

        div.comment-block div.comment-block-inner {
            display: block;
            min-width: 100%;
            width: 100%;
        }
    }

    div.comment-block div.comment-block-user {
        margin: 0;
        padding: 7px 7px 7px 10px;
    }

    div.comment-block div.comment-block-user.comment-block-user-starter {
        background: #b0d3ad;
    }

    .theseed-dark-mode div.comment-block div.comment-block-user.comment-block-user-starter {
        background-color: #324432;
    }

    div.comment-block span.num-text {
        margin-right: .25rem;
    }

    div.comment-block div.comment-block-user span.time-block {
        float: right;
    }

    div.comment-block div.comment-block-user span.time-block div.menu-block {
        display: inline-block;
        vertical-align: middle;
    }

    .menu-button {
        height: 1.2rem;
        margin: 0 0 -.25rem .5rem;
        padding: 0;
        width: 1.25rem;
    }

    div.clearboth {
        clear: both;
    }

    div.comment-block div.comment-block-content {
        background: #f4f4f4;
        padding: 13px;
        word-wrap: break-word;
        max-height: 500px;
        overflow-y: auto;
    }

    .theseed-dark-mode div.comment-block div.comment-block-content {
        background: #27292d;
    }

    div.comment-block div.comment-block-content.special-comment {
        background: #fc6;
    }

    .theseed-dark-mode div.comment-block div.comment-block-content.special-content {
        background: #54411a;
    }

    div.comment-block div.comment-block-content.hidden-comment {
        background: #6b6b6b;
        color: #fff;
    }

    .theseed-dark-mode div.comment-block div.comment-block-content.hidden-content {
        background: #54411a;
    }

    div.comment-block.comment-block-loading div.comment-block-content {
        height: 80px;
    }

    .thread-title {
        font-size: 1.8em;
        margin: 1.2em 0 .8em;
        font-weight: 700;
        line-height: 1.1;
    }

    .comment-title {
        font-weight: 700;
        line-height: 1.1;
        border-top: 2px dashed gray;
        color: inherit;
        font-family: inherit;
        font-size: 1.6em;
        margin: .2em 0 .8em;
        padding-top: 1em;
    }

    .theseed-dark-mode .comment-title {
        border-top-color: #383b40;
    }

    form.comment-form button {
        float: right;
        width: 8rem;
    }

    form.comment-form ul {
        border-bottom: 1px solid #ddd;
        height: 36px;
        list-style: none;
        margin-bottom: 0;
        margin-top: 0;
        padding-left: 0;
    }

    .theseed-dark-mode form.comment-form ul {
        border-color: #383b40;
    }

    form.comment-form ul:before, form.comment-form ul:after {
        content: " ";
        display: table;
    }

    form.comment-form li {
        float: left;
        margin-bottom: -1px;
    }

    form.comment-form li button {
        background: none;
        border: 1px solid transparent;
        border-radius: .25rem .25rem 0 0;
        cursor: pointer;
        display: block;
        font-size: .9rem;
        padding: .5em 1em;
    }

    .theseed-dark-mode form.comment-form li button {
        background-color: #27292d;
        border-color: #383b40;
        color: #ddd;
    }

    form.comment-form li button.selected-tab {
        background-color: #fff;
        border-color: #ddd #ddd transparent;
        color: #55595c;
    }

    .theseed-dark-mode form.comment-form li button.selected-tab {
        background-color: #383b40;
    }

    form.comment-form div.tabs {
        border: 1px solid #ddd;
        border-top: none;
        margin-bottom: 1em;
    }

    .theseed-dark-mode form.comment-form div.tabs {
        border-color: #383b40;
    }

    form.comment-form div.tabs:before {
        clear: both;
        content: "";
        display: table;
    }

    form.comment-form div.tabs>div {
        display: none;
    }

    form.comment-form div.tabs>div.selected-tab-content {
        display: block;
    }

    form.comment-form div.tabs>div.preview-tab {
        padding: 20px;
    }

    textarea {
        background-color: #fff;
        background-image: none;
        border: none;
        border-radius: 0;
        color: #55595c;
        line-height: 1.5;
        font: inherit;
        margin: 0;
        padding: .25rem .5rem;
        resize: vertical;
        width: 100%;
    }

    textarea[disabled] {
        background-color: #eceeef;
        cursor: not-allowed;
        opacity: 1;
    }

    .preview-tab-loading {
        background-color: #ccc;
        text-align: center;
    }
}

@keyframes comment-blink {
    0% {
        opacity: .25
    }

    25% {
        opacity: .37
    }

    50% {
        opacity: .52
    }

    75% {
        opacity: .81
    }

    to {
        opacity: 1
    }
}