@scope(.content-style) {
    .form-block {
        margin-bottom: 15px;
        margin-top: 1rem;
    }

    form label {
        display: inline-block;
        margin-bottom: .5rem;
    }

    form input, form select {
        background-color: #fff;
        background-image: none;
        border: .0625rem solid #ccc;
        border-radius: 0;
        color: #55595c;
        font-size: .9rem;
        line-height: 1.5;
        padding: .25rem .5rem;
        width: 100%;
    }

    .theseed-dark-mode form input:not(.searchable-dropdown-search), .theseed-dark-mode form select, .theseed-dark-mode form textarea {
        background-color: #27292d;
        border-color: #383b40;
        color: #ddd;
    }

    .file-block {
        border-collapse: separate;
        display: table;
        position: relative;
    }

    form div.form-block>div.file-block>input {
        border-radius: 0;
        display: table-cell;
        float: left;
        margin-bottom: 0;
        padding: .25rem .5rem;
        position: relative;
        width: 100%;
        z-index: 2;
    }

    form div.form-block>div.file-block>span {
        display: table-cell;
        font-size: 0;
        position: relative;
        vertical-align: middle;
        white-space: nowrap;
        width: 1%;
    }

    form div.form-block>div.file-block>span>button {
        border-radius: 0;
        margin-left: -1px;
        padding: .25rem .5rem;
        position: relative;
        z-index: 2;
    }

    form textarea {
        border: .0625rem solid #ccc;
        border-radius: 0;
        color: #55595c;
        font-size: medium;
        font-stretch: normal;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        line-height: normal;
        font: initial;
        font-size: .9rem;
        height: 30rem;
        margin: 0;
        padding: .25rem .5rem;
        resize: vertical;
        width: 100%;
    }

    form>span {
        margin-bottom: 2rem;
    }

    form>button {
        float: right;
        width: 100px;
    }
}