<%-include('../components/namespaceSelector', { namespaces: readableNamespaces })%>
<ul class="list-page">
    <%for(let doc of docs) {%>
        <li><a href="<%=doc_action_link(doc, 'w')%>"><%=doc_fulltitle(doc)%></a></li>
    <%}%>
</ul>