<link rel="stylesheet" href="/css/views/recentDiscuss.css">

<div class="nav-block nav-block-margin">
    <div class="nav-block-child">
        <div class="nav-block-content">
            <ul class="nav-block-content-ul">
                <%for(let [type, name] of Object.entries({
                    normal_thread: '열린 토론',
                    old_thread: '오래된 토론',
                    pause_thread: '중지된 토론',
                    closed_thread: '닫힌 토론'
                })) {%>
                <li><a class="nav-content<%=logType === type ? ' nav-content-selected' : ''%>" href="?logtype=<%=type%>"><%=name%></a></li>
                <%}%>
            </ul>
        </div>
    </div>
</div>

<%-include('../components/recentDiscussList', { items: threads })%>