<link rel="stylesheet" href="/css/views/discussList.css">
<ul>
    <%for(let editRequest of editRequests) {%>
        <li>
            <a href="/edit_request/<%=editRequest.url%>">편집 요청 <%=editRequest.url%></a>
        </li>
    <%}%>
</ul>